@charset "UTF-8";

/*doc

---
title: icon
name: icon
category: block
---

スプライト画像をアイコンとして使用

```html_example
<div class="icon icon--yen">サンプル</div>
```

*/

.icon {
  display: flex;
  align-items: center;
  &:before {
    display: inline-block;
    content: "";
  }
  &--yen {
    &:before {
        @include r-sprite($yen);
    }
  }
}