@charset "utf-8";

/* all */
.pd-8 {
  padding: 8px;
}

.pd-16 {
  padding: 16px;
}


/* top */
.pd-8t {
  padding-top: 8px;
}

.pd-16t {
  padding-top: 16px;
}


/* bottom */
.pd-8b {
  padding-bottom: 8px;
}

.pd-16b {
  padding-bottom: 16px;
}

.pd-28b {
  padding-bottom: 28px;
}


/* right */
.pd-8r {
  padding-right: 8px;
}

.pd-16r {
  padding-right: 16px;
}


/* left */
.pd-8l {
  padding-left: 8px;
}

.pd-16l {
  padding-left: 16px;
}