{
  "extends": "stylelint-config-standard",
  "rules": {
    "rule-nested-empty-line-before": "never",
    "no-missing-end-of-source-newline": null,
    "number-leading-zero": "never",
    "max-empty-lines": 2,
    "comment-empty-line-before": null
  }
}