/*
---
name: title
category: module/title
---

```html
<!-- title -->
<h1 class="title">
  <span class="title__main">main</span>
  <spn class="title__sub">sub</span>
</h1>
<!-- /title -->
```
*/

@charset "utf-8";

.title {
  padding: 16px 16px 13px;
  background-color: #fff;
  &__main {
    font-size: $font-size-xxxl;
    font-weight: bold;
    color: #313131;
    display: block;
  }
  &__sub {
    font-size: $font-size-xxs;
    color: #212121;
    margin-top: 1px;
    display: block;
  }
}