@charset "utf-8";

/*doc

---
title: txt
name: txt
category: utility
---

テキスト系

```html_example
<a class="txt-link">リンク</a>
```

*/

// font
.txt-bold {
  font-weight: bold;
}

.txt-base {
  font-size: $font-size-base;
}


// color
.txt-link {
  color: $color-link;
}


// text-align
.txt-right {
  text-align: right;
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}