@charset "utf-8";

/*doc

---
title: default
name: default
category: base
---

このプロジェクトのデフォルトのスタイルを定義

*/

body {
  font-family: $font-family-default;
}

img {
  vertical-align: bottom;
}

a {
  color: $color-link;
}
