@charset "UTF-8";
@import "sprite";
@import "r-sprite";

.icon {
    display: flex;
    align-items: center;
    &:before {
        display: inline-block;
        content: "";
    }
    &--yen {
        &:before {
            @include r-sprite($yen);
        }
    }
}